.bgc {
    width: 100%;
    height: 100vh;
    background-color: #EBEBEC;
}

.bgc-padding {
    padding: 20rpx;
}

.scroll-father {
    display: flex;
    flex-direction: column;
}

.scroll-area {
    flex: 1;
    position: relative;
}